@model IEnumerable<Model.DTO.FridgeDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="products" class="row list-group">

    <section class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-offset-1">
                    <div class="content">
                        <h3 class="text-center">@Resources.Resource.Fridges</h3>

                        <div class="products-row clearfix">
                            @foreach (var fridge in Model)
                            {
                                <div class="item col-sm-4">
                                    <div class="thumbnail">
                                        <a id="item_img" href="Fridge/ConcreteFridge/@fridge.Id">
                                            <img class="group list-group-image col-sm-9" id="product_img"  src="@fridge.ImagePath" alt="@fridge.Name" />
                                        </a>

                                        <div class="caption">
                                            <div class="item_name">
                                                <h4 class="group inner list-group-item-heading">
                                                    @fridge.Name
                                                </h4>
                                            </div>
                                            <p class="group inner list-group-item-text">
                                                Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                            </p>
                                            <div class="row">
                                                <div class="item_price">
                                                    <p class="lead">
                                                        @fridge.Price грн
                                                    </p>
                                                </div>
                                                <div class="col-md-10">
                                                    <a class="btn btn-success" href="#">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@Styles.Render("~/Content/FridgeStylesheet")
@Styles.Render("~/Content/css")