<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Content/sidebar-style")
    <link rel="stylesheet" type="text/css" href="~/Content/sidebar-style.css">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink(Resources.Resource.Home, "Index", "Home")</li>
                <li>@Html.ActionLink(Resources.Resource.About, "About", "Home")</li>
                <li>@Html.ActionLink(Resources.Resource.Contact, "Contact", "Home")</li>
            </ul>
        </div>
    </div>
</div>

    <hr/>
    <br/>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <div id="public-image-menu-m">
                    <ul class="public-image-tag-m">
                        <li class="public-image-category-a selected">
                            @Html.ActionLink(Resources.Resource.WebShops, "Index", "WebShop")
                            <ul>
                                <li class="public-image-tag-a">
                                    @Html.ActionLink(Resources.Resource.AddItem, "Create", "WebShop")
                                </li>
                            </ul>
                        </li>
                        <li class="public-image-category-a">No Category</li>
                        <li class="public-image-category-a">Show All Images</li>
                        <li class="public-image-category-a">Show Untagged Images</li>
                        <li class="public-image-category-a selected">
                            @Resources.Resource.Parsers
                            <ul>
                                <li class="public-image-tag-a">
                                    Phone
                                </li>
                                <li class="public-image-tag-a">
                                    TV
                                </li>
                                <li class="public-image-tag-a">
                                    @Html.ActionLink(Resources.Resource.Laptops, "Index", "Laptop")
                                </li>
                                <li class="public-image-tag-a">
                                    Microvaves
                                </li>
                                <li class="public-image-tag-a">
                                    @Html.ActionLink(Resources.Resource.Fridges, "Index", "Fridge")
                                </li>
                            </ul>

                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-10">
                <div class="container">
          
                    @RenderBody()
                    <hr/>
                    <footer>
                        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                        <ul class="list-inline text-center">
                            <li>@Html.ActionLink("UA", "Change", "Base", new {language = "uk-UA", url = Request.Url.AbsoluteUri}, null)</li>
                            <li>@Html.ActionLink("RU", "Change", "Base", new {language = "ru-RU", url = Request.Url.AbsoluteUri}, null)</li>
                            <li>@Html.ActionLink("EN", "Change", "Base", new {language = "en", url = Request.Url.AbsoluteUri}, null)</li>
                        </ul>

                    </footer>
                </div>
            </div>

        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/EditProperties")
    @Scripts.Render("~/Content/editcategories")
    @RenderSection("scripts", required: false)
</body>
</html>
