@model List<Model.DTO.ExecutingInfoDTO>
@{
    ViewBag.Title = "ExecutingTasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row"><h2 class="text-center">ExecutingTasks</h2></div>
    <div class="row">
        <h4>
            <button type="button" class="btn btn-xs" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-cog"></span>
            </button>
            [Settings]
        </h4>
    </div>

    @Html.Partial("~/Views/UniversalParser/_ConfigureSchedulerIntervals.cshtml")

    <div class="row">
        <div class="col-xs-2">
            <h4 class="text-success">Parser Task Id</h4>
        </div>
        <div class="col-xs-10">
            <h4 class="text-success">Url</h4>
        </div>
    </div>

    <div id="executinginfoes">
        @foreach (var task in Model)
        {
            <div class="row">
                <div class="col-xs-2">
                    <b>@task.ParserTaskId</b>
                </div>
                <div class="col-xs-8">
                    <span class="text-muted">@task.GoodUrl</span>
                </div>
                <div class="col-xs-2">
                    <span class="text-muted">@task.Date</span>
                </div>
            </div>
        }
    </div>

</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/executing_tasks")


