@model Model.DTO.GrabberSettingsDTO
@{
    ViewBag.Title = "Grabber";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            @Html.Partial("HeaderPartialView")
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-12" id="iframe">
                    <iframe id="iframe1" src="@TempData.Peek("FirstPage")" style="width:100%; height:600px;"></iframe>

                    <button type="button" value="Previous" class="btn btn-default col-md-2 col-sm-2 col-xs-2 center-block" id="Previous">Previous</button>

                    <button type="button" value="Next" class="btn btn-default col-md-2 col-sm-2 col-sm-push-8 col-xs-2 col-md-push-8  col-xs-push-8 center-block" id="Next">Next</button>
                </div>
            </div>
        </div>
        <div class="hide" id="items" data-list-items="@Model.urlJsonData"></div>

        <div class="col-md-4">
            <form class="form-horizontal" action="/UniversalParser/Grabber" method="post">
                <input type="hidden" name="id" value="@Model.Id" />

                <div class="col-sm-12">
                    <div class="row">

                        <div class="form-group">
                            @Html.LabelFor(t => Model.Name)


                            @Html.TextBoxFor(t => Model.Name, new { @class = "form-control", @placeholder = "Click here and get Xpath" })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(t => Model.Price)
                            @Html.TextBoxFor(t => Model.Price, new { @class = "form-control", @placeholder = "Click here and get Xpath" })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(t => Model.OldPrice)

                            @Html.TextBoxFor(t => Model.OldPrice, new { @class = "form-control", @placeholder = "Click here and get Xpath" })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(t => Model.NewPrice)

                            @Html.TextBoxFor(t => Model.NewPrice, new { @class = "form-control", @placeholder = "Click here and get Xpath" })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(t => Model.ImgLink)

                            @Html.TextBoxFor(t => Model.ImgLink, new { @class = "form-control", @placeholder = "Click here and get Xpath" })

                        </div>
                        @for (int index = 0; index < Model.PropertyItems.Count; index++)
                        {
                            <div class="form-group">
                                @Html.Label(Model.PropertyItems[index].Name)
                                @Html.HiddenFor(t => Model.PropertyItems[index].Name)
                                @Html.HiddenFor(t => Model.PropertyItems[index].Id)

                                @Html.TextBoxFor(t => Model.PropertyItems[index].Value, new { @class = "form-control", @placeholder = "Click here and get Xpath" })

                            </div>
                        }

                        <div class="form-group">
                            <div class="col-sm-offset-10">
                                <button type="submit" class="btn btn-default">Done</button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/GrabberJs")


