@model Model.DTO.IteratorSettingsDTO
@{
    ViewBag.Title = "Iterator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            @Html.Partial("HeaderPartialView")
        </div>
    </div>
    <br />
    <div class="row">

        @using (Html.BeginForm("Download", "UniversalParser", FormMethod.Post, new { }))
        {
            <input type="hidden" name="id" value="@ViewBag.Id" />

            <div class="col-md-8">

                <div class="input-group">
                    @Html.TextBoxFor(m => m.Url, new { @class = "form-control", @placeholder = "Enter link..." })
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" onclick="showProgressBar();"> @Resources.Resource.Download</button>
                    </span>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12" id="iframe">
                        <iframe id="iframe1" src="@(ViewBag.Path)" style="width:100%; height:600px;"></iframe>

                        <div class="progress" id="progress_bar">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:100%">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }



        @using (Html.BeginForm("IteratorConfigurations", "UniversalParser", FormMethod.Post, new { @id="iteratorConf"}))
            {
            <div class="col-md-4">
                <input type="hidden" name="id" value="@ViewBag.Id" />
                @Html.HiddenFor(m => m.Url, new { @Url = Model.Url })

                <div class="col-sm-12">
                    <div class="row">

                        <div class="form-group">
                            <label for="sel1">Download Method</label>
                            <select class="form-control" id="sel1" name="DownloadMethod">
                                <option value="0">Direct</option>
                                <option value="1">Tor</option>
                            </select>
                        </div>

                        <div class="form-group">

                            @Html.Label(Resources.Resource.ItemIterator)
                            <div id="fields">

                                @if (Model.GoodsIteratorXpathes.Count == 0)
                                {
                                    @Html.TextBoxFor(m => m.GoodsIteratorXpathes[0], new { @class = "form-control", @placeholder = "xpath1, xpath2...", required = "required" })
                                }
                                else
                                {
                                    for (var i = 0; i < Model.GoodsIteratorXpathes.Count; i++)
                                    {
                                        @Html.TextBoxFor(m => m.GoodsIteratorXpathes[i], new { @class = "form-control", @placeholder = "xpath1, xpath2...", required = "required" })
                                    }
                                }

                            </div>

                            <button type="button" id="add_field" class="btn btn-primary btn-xs" style="margin-top:10px;" onclick="AddField(this);">Add field</button>
                        </div>
                    </div>

                    <div class="row" style="padding-top:50px;">

                        @Html.RadioButton("VariantOfPath", "XPath Pagination", new { @class = "button1" })@Resources.Resource.XPathPagination

                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="row">

                                    @Html.Label(Resources.Resource.PageIterator)
                                    @Html.TextBoxFor(m => m.XPathPageIterator, new { @class = "form-control", @placeholder = "xpath1, xpath2...", style = "resize:none;" })

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="padding-top:50px;">

                        @Html.RadioButton("VariantOfPath", "Page URL Iterator", new { @class = "button2", @checked = "checked" })@Resources.Resource.PageURLIterator

                        <div class="form-group">

                            @Html.Label(Resources.Resource.URLMask)
                            @Html.TextBoxFor(m => m.UrlMask, new { @class = "form-control urlmask", @placeholder = "www.some.url/page={n}", required = "required" })


                            @Html.Label(Resources.Resource.From)
                            @Html.TextBoxFor(m => m.From, new { @class = "form-control", @placeholder = "1", required = "required" })

                            @Html.Label(Resources.Resource.To)
                            @Html.TextBoxFor(m => m.To, new { @class = "form-control", @placeholder = "10", required = "required" })

                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-sm-offset-10">

                            <button type="submit" class="btn btn-default" onclick="showProgressBar();">Next</button>

                        </div>
                    </div>

                </div>
            </div>
        }


    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/IteratorPage")
<script>
    $(document).ready(function () {

        $("#progress_bar").hide();
        $("#iframe1").hide();
        var pathIsExist = '@ViewBag.Path';
        if (pathIsExist != "") {
            $("#iframe1").show();
        }
    });

    function showProgressBar() {
        $("#progress_bar").show();
    }

</script>

