﻿@model Model.DTO.SettingsViewDTO
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/bootstrap-select")
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            @Html.Partial("HeaderPartialView")
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">

            <form class="form-horizontal" action="/UniversalParser/Settings" method="post">
                <input type="hidden" name="parsertaskid" value="@{if (Model.ParserTask != null) {@Model.ParserTask.Id} }" />
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    @{
                        if (Model.ParserTask != null)
                        {
                            <h2>@Resources.Resource.UpdatingParserTask</h2>
                        }

                        else
                        {
                            <h2>@Resources.Resource.AddNewParserTask</h2>
                        }
                    }
                    <h4><small class="text-muted">@Resources.Resource.ConfigSettings</small></h4>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">@Resources.Resource.Description:</label>
                    <div class="col-sm-10">
                        <input type="text" value="@{if (Model.ParserTask != null) {@Model.ParserTask.Description} }" class="form-control" id="name" name="Description" placeholder="@Resources.Resource.EnterDisc" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="category">@Resources.Resource.Category:</label>
                    <div class="col-sm-10">
                        <select class="form-control selectpickercategory" id="category" name="CategoryId" data-live-search="true" required>
                            @Html.Partial("FlexibleSelectList", Model.Categories)
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="shop">@Resources.Resource.Shop:</label>
                    <div class="col-sm-10">
                        <select class="form-control selectpickershop" id="shop" name="WebShopId" data-live-search="true" required>
                            @foreach (var shop in Model.Shops)
                            {
                                <option data-tokes="@shop.Name" value="@shop.Id">
                                    @shop.Name
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">@Resources.Resource.Priority:</label>
                    <div class="col-sm-10">
                        <select class="form-control selectpickerpriority" name="priority" required>
                            <option value="1">Low</option>
                            <option value="2">Middle</option>
                            <option value="3">High</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                                <label><input type="checkbox" value="" onclick="ShowCalendar();" id="checkboxdate"> <b>Due to Date</b></label>
                         </div>
                    </div>
                </div>
                <div class="form-group hidden datepicker">
                    <label class="control-label col-sm-2" for="email">@Resources.Resource.Date:</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="datepickerinput" name="EndDate">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">@Resources.Resource.Next</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap-select")
<script>
    $(".list-inline-item").first().addClass("active");


    $('.selectpickercategory').selectpicker({
        style: 'btn-success',
        size: 6
    });

    $('.selectpickershop').selectpicker({
        style: 'btn-success',
        size: 6
    });

    $('.selectpickerpriority').selectpicker({
        style: 'btn-default',
        size: 6
    });
    

    function ShowCalendar() {
        $(".datepicker").toggleClass("hidden");
        if ($(".datepicker").hasClass("hidden"))
        {
            $("#datepickerinput").val("");
        }
        else
        {
            var now = new Date();

            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);

            var today = now.getFullYear()+"-"+(month)+"-"+(day) ;

            $(".datepicker input").val(today);
        }
    }




</script>


@*If updating task, puts correct category and shop*@
@{
    if (Model.ParserTask != null)
    {
        <script>
            $('.selectpickercategory').selectpicker('val', @Model.ParserTask.CategoryId);
            console.log(@Model.ParserTask.CategoryId);

            $('.selectpickershop').selectpicker('val', @Model.ParserTask.WebShopId);

            $('.selectpickerpriority').selectpicker('val', @Convert.ToInt32(Model.ParserTask.Priority));
        </script>

        if (Model.ParserTask.EndDate != null)
        {
            <script>

                document.getElementById("checkboxdate").checked = true;
                ShowCalendar();
                $('#datepickerinput').val('@Model.ParserTask.EndDate.GetValueOrDefault().ToString("yyyy-MM-dd")');
                console.log(@Model.ParserTask.EndDate.GetValueOrDefault().ToString("yyyy-MM-dd"));
            </script>
        }
    }


}