@model Model.DTO.WebShopDTO

<form action="/WebShop/Create"class="form-horizontal" method="post" enctype="multipart/form-data">
   <fieldset>
        @Html.AntiForgeryToken()
        <!-- Form Name -->
        <legend>Create shop</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Name</label>
            <div class="col-md-4">
                <input id="textinput" name="Name" type="text" value="@Model.Name" placeholder="placeholder" class="form-control input-md">
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Url</label>
            <div class="col-md-4">
                <input id="textinput" name="Path" type="text" value="@Model.Path" placeholder="placeholder" class="form-control input-md">
                @Html.ValidationMessageFor(model => model.Path, "", new {@class = "text-danger"})
            </div>
        </div>

        <!-- File Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="filebutton">Logo</label>
            <div class="col-md-4">
                <input title="Add image" id="filebutton" name="upload" multiple accept="image/*,image/jpeg" class="input-file" type="file">
                @Html.ValidationMessageFor(model => model.LogoPath, "", new {@class = "text-danger"})
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton">Single Button</label>
            <div class="col-md-4">
                @*<button id="singlebutton" type="submit" class="btn btn-primary">Button</button>*@
                <input type="submit" value="ok" class="btn btn-primary"/>
            </div>
        </div>

    </fieldset>
</form>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
