@model Model.DTO.WebShopDTO

<style>
    img {
        width: 90%;
        margin: 0 auto;
    }
</style>

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>@Resources.Resource.Sure @Model.Name?</h4>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="col-md-6">
                <img class="Logo img-responsive" src="~/Content/WebShopLogos/@Model.LogoPath" />
            </div>

        </div>
        <div class="row text-center">
            <hr />
            <big>
                <a href="@Model.Path">@Model.Path</a>
            </big>
        </div>
    </div>

    <div class="modal-footer">
        @using (Html.BeginForm())
        {
            <input type="submit" value="@Resources.Resource.Delete" class="btn btn-danger btn-md col-md-12" />
        }
    </div>
</div>