@model IEnumerable<Model.DTO.WebShopDTO>
@{
    ViewBag.Title = "WebShops";

}

<style>
    img {
        width: 80%;
        margin: 0 auto;
    }
</style>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>


<div class="container">
    <div class="col-md-12">
        <div class="col-md-1 col-md-offset-10">
            <a href="@Url.Action("Create")" class="btn btn-primary btn-md">
                <span class="glyphicon-plus"></span> @Resources.Resource.AddItem
            </a>
        </div>
    </div>
    
    <br/>
    <br/>
 
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>
                    @Resources.Resource.Logo
                </th>
                <th>
                    @Resources.Resource.Name
                </th>
                <th>
                    URL
                </th>
                <th>

                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="col-lg-5">
                        <img class="Logo img-responsive" src="~/Content/WebShopsLogo/@item.LogoPath" />
                    </td>
                    <td class="col-lg-2">
                        <big>@item.Name</big>
                    </td>
                    <td class="col-lg-2">
                        <big><a href="@item.Path">@item.Path</a></big>
                    </td>
                    <td class="col-lg-3">
                        @Html.ActionLink(Resources.Resource.Delete, "Delete", new { id = item.Id }, new { @class = "webShopItem btn btn-danger btn-sm" })
                        @Html.ActionLink(Resources.Resource.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>


@section scripts
{
    <script type="text/javascript">

        $(function() {
            $.ajaxSetup({ cache: false });
            $(".webShopItem").click(function(e) {

                e.preventDefault();
                $.get(this.href, function(data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        });
       
    </script>
}
