@model IEnumerable<Model.DTO.WebShopDTO>
@{
    ViewBag.Title = "WebShops";
   
}



<br/>
<br/>
<br/>
<br/>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<div class="container">
    <div class="col-md-12">
        <div class="col-md-1 col-md-offset-10">
            <a href="@Url.Action("Create")" class="btn btn-primary btn-md">
                <span class="glyphicon-plus"></span> Add Item
            </a>
        </div>
    </div>
    <br/>
    <br/>
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>
                    LOGO
                </th>
                <th>
                    NAME
                </th>
                <th>
                    URL
                </th>
                <th>

                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img class="Logo" src="~/Content/WebShopsLogo/@item.LogoPath"/>
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Path"
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new {id = item.Id}, new {@class = "webShopItem btn btn-danger btn-xs" })
                        @Html.ActionLink("Edit", "Edit", new {id = item.Id}, new {@class = "webShopItem btn btn-warning btn-xs"})
                    </td>
                </tr>
            }
        </table>
    </div>
</div>


@section scripts
{
    <script type="text/javascript">

        $(function() {
            $.ajaxSetup({ cache: false });
            $(".webShopItem").click(function(e) {

                e.preventDefault();
                $.get(this.href, function(data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        });
    </script>
}           
