@model IEnumerable<Model.DTO.WebShopDTO>
@{
    ViewBag.Title = "WebShops";

}

<style>
    img{
        width: 90%;
        margin: 0 auto;
    }
</style>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<div class="container">
    <div class="col-md-12">
        <div class="col-md-1 col-md-offset-10">
            <a href="@Url.Action("Create")" class="btn btn-primary btn-md">
                <span class="glyphicon-plus"></span> @Resources.Resource.AddItem
            </a>
        </div>
    </div>

    <br />
    <br />

    <div class="col-md-12">
        <table class="table">
          
            @foreach (var item in Model)
            {
                <tr>
                    <td class="col-lg-5">
                        <img class="Logo img-responsive" src="~/Content/WebShopLogos/@item.LogoPath" />
                    </td>
                    <td class="col-lg-2">
                        <big>@item.Name</big>
                    </td>
                    <td class="col-lg-4">
                        <big><a href="@item.Path">@item.Path</a></big>
                    </td>
                    <td class="col-lg-1 text-center">
                        <a href="@Url.Action("Edit", new {id = item.Id})">
                            <big><span class="glyphicon glyphicon-edit" style="color: black"></span></big>
                        </a>
                        <a href="@Url.Action("Delete", new {id = item.Id})" class="webShopItem" style="color: black">
                            <big><span class="glyphicon glyphicon-remove"></span></big>
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>