@model IEnumerable<Model.DTO.TapeRecorderDTO>

@{
	ViewBag.Title = "TapeRecorders";
}

@Styles.Render("~/Content/styles")


<section class="main-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-md-push-1">
				<div class="content">
					<h3 class="text-center">@Resources.Resource.TapeRecorders</h3>
					<div class="products-row clearfix">
					@foreach (var taperecorder in Model) {
						<div class="col-sm-4">
							<div class="product">
								<div class="product-favorites">
									<span class="glyphicon glyphicon-heart"></span>
								</div>
								<div class="product-img">
									<a href="/TapeRecorder/GetTapeRecorder/@taperecorder.Id"><img class="prod-img" src="@taperecorder.ImgUrl"></a>
								</div><!-- ./products-img -->
								<p class="product-title">
									<a href="/TapeRecorder/GetTapeRecorder/@taperecorder.Id">@taperecorder.Name</a>
								</p>
								<div class="product-buy">
									<p class="product-price">
										 @Resources.Resource.Price: @taperecorder.Price @Resources.Resource.UAH
									</p>
									<a href="@taperecorder.urlPath" class="btn btn-default">@Resources.Resource.GoToShop</a>
								</div><!-- ./products-buy -->
							</div> <!-- ./product -->
						</div>
					}
					</div> <!-- ./products-row -->


				</div>
				<!-- ./content -->
			</div>
		</div>
	</div>
</section>



