@model Model.DTO.PropertyViewDTO
@{
    ViewBag.Title = "AddProperty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/EditProperties")
@Styles.Render("~/Content/EditPropertiesStylesheet")

<div class="container">
    <div class="row ">
        <hr />
        <center>
            <h1>@Resources.Resource.AddProperty</h1></center>
        <div class="col-lg-10">
            <div id="add_property">
                <form action="@Url.Action("AddProperty","Admin")" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" id="cat_id" value="@Model.CategoryId" name="Category_Id" />
                        <label>@Resources.Resource.CategoryName:</label>
                        <select class="form-control" id="category_id_select">
                            @foreach (var category in Model.categories)
                            {
                                <option value="@category.Id">@category.Name</option>

                            }
                        </select>
                        <label for="Name">@Resources.Resource.Name:</label>
                        <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter name" required>
                        <label for="Description">@Resources.Resource.Description:</label>
                        <input type="text" class="form-control" id="Description" name="Description" placeholder="Enter description" required>
                        <label >@Resources.Resource.Type:</label>
                        <select class="form-control" id="type_add" name="Type">
                            @foreach (var enum_name in Model.enums)
                            {
                                <option value="@enum_name">@enum_name</option>

                            }
                        </select>

                        <label for="DefaultValue">@Resources.Resource.DefaultValue:</label>
                        <input type="text" class="form-control" id="DefaultValue" name="DefaultValue" placeholder="Enter default value of property" required>
                        <label for="Prefix">@Resources.Resource.Prefix:</label>
                        <input type="text" class="form-control" id="Prefix" name="Prefix" placeholder="Enter prefix">
                        <label for="Sufix">@Resources.Resource.Sufix:</label>
                        <input type="text" class="form-control" id="Sufix" name="Sufix" placeholder="Enter sufix">
                    </div>
                    <button type="submit" class="btn btn-success" id="add_prop">@Resources.Resource.Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>