@model  Model.DTO.UserViewDTO
@{
	ViewBag.Title = "EditUsers";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resource.EditUsers</h2>

@Html.Partial("~/Views/Users/_UserEditModalView.cshtml", new WebApp.Models.EditUserModel() { Roles = Model.Roles })

<table id="userstable" class="table table-striped table-bordered" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>Id</th>
			<th>@Resources.Resource.UserName</th>
			<th>@Resources.Resource.Password</th>
			<th>@Resources.Resource.Email</th>
			<th>@Resources.Resource.Role</th>
			<th>@Resources.Resource.Actions</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>Id</th>
			<th>@Resources.Resource.UserName</th>
			<th>@Resources.Resource.Password</th>
			<th>@Resources.Resource.Email</th>
			<th>@Resources.Resource.Role</th>
			<th>@Resources.Resource.Actions</th>
		</tr>
	</tfoot>
</table>