@model Model.DTO.PropertyViewDTO
@{
    ViewBag.Title = "EditProperties";
}

@Scripts.Render("~/bundles/EditProperties")
@Styles.Render("~/Content/EditPropertiesStylesheet")


<div class="container">
    <div class="row ">
        <center><h1>Configuring Properties</h1></center>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary" id="hideshow_add">Add property</button>
            <button type="submit" class="btn btn-primary" id="hideshow_remove">Remove property</button>
            <button type="submit" class="btn btn-primary" id="hideshow_update">Update property</button>
        </div>
        <div class="col-sm-6">
            <div id="add_property">
                <form action="@Url.Action("AddProperty", "Admin")" method="post">
                    <div class="form-group">
                        <label for="Characteristic_Id">Characteristic Id:</label>
                        <input type="text" class="form-control" id="Characteristic_Id" name="Characteristic_Id" placeholder="Enter characteristic id">
                        <label>Category Id:</label>
                        <select class="form-control" id="Category_Id" name="Category_Id">
                            @foreach (var prop in Model.properties)
                            {
                                <option value="@prop.Id">@prop.Name</option>

                            }
                        </select>
                        <label for="Name">Name:</label>
                        <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter name">
                        <label for="Description">Description:</label>
                        <input type="text" class="form-control" id="Description" name="Description" placeholder="Enter description">
                        <select class="form-control" id="type_add" name="Type">
                            @foreach (var en in Model.enums)
                            {
                                <option value="@en">@en</option>

                            }
                        </select>

                        <label for="DefaultValue">Default Value:</label>
                        <input type="text" class="form-control" id="DefaultValue" name="DefaultValue" placeholder="Enter default value of property">
                        <label for="Prefix">Perfix:</label>
                        <input type="text" class="form-control" id="Prefix" name="Prefix" placeholder="Enter prefix">
                        <label for="Sufix">Sufix:</label>
                        <input type="text" class="form-control" id="Sufix" name="Sufix" placeholder="Enter sufix">
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>

                </form>
            </div>
            <div id="DeleteProperty">
                <form action="@Url.Action("RemoveProperty", "Admin")" method="post" id="remove_property">
                    <div class="form-group">
                        <label >Id:</label>
                        <select class="form-control" id="prop_id_remove" name="id">
                            @foreach (var prop in Model.properties)
                            {
                                <option value="@prop.Id">@prop.Name</option>

                            }
                        </select>
                    </div>
                    <button onclick="" type="submit" class="btn btn-danger" id="remove_property">Remove</button>
                </form>
            </div>

            <div id="update_property">
                <form action="@Url.Action("UpdateProperty", "Admin")" method="post">
                    <div class="form-group">
                        <label>Id:</label>
                        <select class="form-control" id="prop_id_update">

                            @foreach (var prop in Model.properties)
                            {
                                <option value="@prop.Id">@prop.Name</option>

                            }
                        </select>
                        <label for="Name">Name:</label>
                        <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter new name">
                        <label for="Description">Description:</label>
                        <input type="text" class="form-control" id="Description" name="Description" placeholder="Enter new description">

                        <label>Type:</label>
                        <select class="form-control" id="type_update">

                            @foreach (var en in Model.enums)
                            {
                                <option value="@en">@en</option>

                            }
                        </select>

                        <label for="DefaultValue">Default Value:</label>
                        <input type="text" class="form-control" id="DefaultValue" name="DefaultValue" placeholder="Enter new default value of property">
                        <label for="Prefix">Perfix:</label>
                        <input type="text" class="form-control" id="Prefix" name="Prefix" placeholder="Enter new prefix">
                        <label for="Sufix">Sufix:</label>
                        <input type="text" class="form-control" id="Sufix" name="Sufix" placeholder="Enter new sufix">
                    </div>
                    <button onclick="" type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

