@model  List<Model.DTO.CategoryDTO>

    @foreach (var category in Model)
    {
        <li data-id="@category.Id" data-name="@category.Name">
            <b class="namecategory">
                @category.Name
            </b>
            <button class="btn handler transperent btn-sm glyphicon hidden glyphicon-move text-muted"></button>
            <button class='btn adder transperent btn-sm glyphicon hidden glyphicon-plus-sign text-muted'></button>
            <button class='btn togglebutt transperent btn-sm glyphicon hidden glyphicon-arrow-down'></button>
            <button class="btn transperent hidden btn-config " data-toggle="modal" data-target="#ModalUpdate"><small class="glyphicon glyphicon-cog"></small></button>
            <button class="btn transperent hidden btn-add " data-toggle="modal" data-target="#ModalAdd"><small class="glyphicon glyphicon-plus"></small></button>
            <button class="btn transperent hidden btn-remove " data-toggle="modal" data-target="#ModalDelete"><small class="glyphicon glyphicon-minus"></small></button>

            <div class="properties">

                <ul class="list-group properties_list">
                    @if (category.HasProperties)
                    {
                        foreach (var prop in category.PropertiesList)
                        {
                            <li class="btn btn-active property_item list-group-item" data-property-id="@prop.Id">
                                @prop.Name
                                <div class="propert-actions">
                                    <div class='glyphicon glyphicon-trash delete_prop' onclick='DeleteProperty()'></div>
                                    <div class='glyphicon glyphicon-edit update_prop'></div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>

            <ul>
                @if (category.HasChildrenCategories)
                {
                @Html.Partial("FlexibleListCategories", category.ChildrenCategory)
                }
            </ul>
        </li>
    }