@model Model.DTO.PropertyViewDTO
@{
    ViewBag.Title = "UpdateProperty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/EditProperties")
@Styles.Render("~/Content/EditPropertiesStylesheet")

<div class="container">
    <div class="row ">
        <hr />
        <center>
            <h1>@Resources.Resource.UpdateProperty</h1>
        </center>
        <div class="col-lg-10">
        <div id="update_property">
            <form action="@Url.Action("UpdateProperty", "Admin")" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" id="cat_update_id" value="@Model.CategoryId" name="Category_Id" />
                    <input type="text" class="form-control" id="prop_update_id" value="@Model.PropertyId" name="Property_Id" />
                    <label>@Resources.Resource.PropertyName:</label>
                    <select class="form-control" id="prop_id_update_select" name="Property_Id">

                        @foreach (var prop in Model.properties.Where(i=>i.Category_Id==Model.CategoryId))
                        {
                            <option value="@prop.Id">@prop.Name</option>

                        }
                    </select>
                    <label>@Resources.Resource.CategoryName:</label>
                    <select class="form-control" id="category_id_update_select" name="Category_Id">

                        @foreach (var category in Model.categories)
                        {
                            <option value="@category.Id">@category.Name</option>

                        }
                    </select>
                    <label for="Name">@Resources.Resource.Name:</label>
                    <input type="text" class="form-control" id="Name" name="Name" value="@Model.properties.First(i=>i.Id==Model.PropertyId).Name"  placeholder="Enter new name" required>
                    <label for="Description">@Resources.Resource.Description:</label>
                    <input type="text" class="form-control" id="Description" name="Description" placeholder="Enter new description" value="@Model.properties.First(i=>i.Id==Model.PropertyId).Description" required>

                    <label>@Resources.Resource.Type:</label>
                    <select class="form-control" id="type_update" name="Type">

                        @foreach (var enum_name in Model.enums)
                        {
                            <option value="@enum_name">@enum_name</option>

                        }
                    </select>

                    <label for="DefaultValue">@Resources.Resource.DefaultValue:</label>
                    <input type="text" class="form-control" id="DefaultValue" name="DefaultValue" placeholder="Enter new default value of property" value="@Model.properties.First(i=>i.Id==Model.PropertyId).DefaultValue" required>
                    <label for="Prefix">@Resources.Resource.Prefix:</label>
                    <input type="text" class="form-control" id="Prefix" name="Prefix" placeholder="Enter new prefix" value="@Model.properties.First(i=>i.Id==Model.PropertyId).Prefix">
                    <label for="Sufix">@Resources.Resource.Sufix:</label>
                    <input type="text" class="form-control" id="Sufix" name="Sufix" placeholder="Enter new sufix" value="@Model.properties.First(i=>i.Id==Model.PropertyId).Sufix">
                </div>
                <button onclick="" type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
        </div>
    </div>
    </div>