@model Model.DTO.UserDTO

<tr data-user-id="@Model.Id">
    <td id="user_id">@Model.Id</td>
    <td id="username">@Model.UserName</td>
    <td id="password">@Model.Password</td>
    <td id="email">@Model.Email</td>

