@model IEnumerable<Model.DTO.TVDTO>

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/TVstylesheet")


<h2>@Resources.Resource.TVs</h2>

<div class="container">

    <div id="products" class="row list-group">
        @foreach (var tv in Model)
        {
            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <a class="pull-left" href="TV/GetTV/@tv.Id">
                        <img class="group list-group-image" src="@tv.ImgUrl" alt="@tv.Name" />
                    </a>
                    <div class="caption">
                        <a class="pull-left" href="TV/GetTV/@tv.Id">
                            <h4 class="group inner list-group-item-heading">
                                <br />
                                @tv.Name
                            </h4>
                        </a>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="price-lead">
                                    @tv.Price грн.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



