﻿@model Model.DTO.IndexViewDTO

@{
	ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/IndexStylesheet")


<div class="cf wrap container">
	<header class="header">
		<div class="top-nav-bg abs">
			<div class="razdel-box rel">
				<a href="#" class="razdel adapt-1024 js-mmenu-initiator">
					<b>Каталог товаров</b>
				</a>
				<span class="razdel-opener razdel open no-adapt-1024"><b><small class="glyphicon glyphicon-arrow-down"></small>Каталог товаров</b></span>

			</div>
			<div class="search-box">
				<label for="toggle-1">
					<b>Поиск</b>
				</label>
				<div class="s-form-box">
					<form action="/sr/" method="get" class="open-pup">
						<input type="submit" value="Поиск" class="but abs" id="doSearch">
						<div class="s-inp">
							<input id="searchbox" name="q" type="text" class="search-txt ui-autocomplete-input" data-default="Что вы хотите купить?" value="Что вы хотите купить?" onfocus="javascript:if (this.value == 'Что вы хотите купить?')this.value = ''" onblur="javascript:if (this.value == '')this.value = 'Что вы хотите купить?'" autocomplete="off">
						</div>
					</form>
				</div>
			</div>
		</div>
	</header>
	<div class="content right row-1024">
		<aside class="category-menu-wapper float-left">
			<div class="abs-wrapper">
				@foreach (var rc in Model.CategoryList)
				{
					@Html.Partial("~/Views/CategoryTree/SubCategory.cshtml", rc)
					<div class="clearfix"></div>
				}
			</div>


		</aside>
		<div class="row">
			<div class="col-sm-9 adv">

			</div>
		</div>

		<br/>
		<div id="products" class="row list-group">
			@foreach (var good in Model.GoodCollection)
			{
				<div class="item  col-xs-4 col-lg-4">
					<div class="thumbnail">
						<a id="item_img" href="#">
							<img class="group list-group-image g-images col-sm-9" id="product_img" src="@good.ImageLink" alt="@good.Name">
						</a>
						<div class="caption">
							<a class="pull-left" href="#">
								<h4 class="group inner g-name list-group-item-heading">
									<br/>
									@good.Name
								</h4>
							</a>
							<div class="clearfix"></div>
							<div class="row">

								<div class="col-xs-12 col-md-6">
									<p class="price-lead">
										@good.Price грн.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
		<div class="clearfix"></div>
	</div>
</div>
