@model WebApp.Models.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>[Login]</h2>
<div class="container">
    <div class="row">
        <form action="/Account/Login" class="form-horizontal" method="post" enctype="multipart/form-data">

            @Html.AntiForgeryToken()
         
            <div class="form-horizontal">
                <hr />
                <div class="form-group">
                    <label class="control-label col-md-2">[Email]</label>
                    <div class="col-md-4">
                        <input id="textinput" name="Email" type="text" value="@Model.Email" placeholder="placeholder" class="form-control input-md">
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">[Password]</label>
                    <div class="col-md-4">
                        <input id="textinput" name="Password" type="password" value="@Model.Password" placeholder="placeholder" class="form-control input-md">
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Login" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>