@model WebApp.Models.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resource.LogIn</h2>
<div class="container">
    <div class="row">
        <h2>@Resources.Resource.SignUp</h2>
        <div class="col-md-4 col-md-offset-8">
            <span>@Resources.Resource.SocialNetworksMessage:</span>
        </div>
        <div class="col-md-3 col-md-offset-9">
            <div id="uLogin" data-ulogin="display=panel;theme=flat;fields=first_name,last_name;providers=vkontakte,facebook,googleplus;hidden=;redirect_uri=@Url.Action("NetworkLogin", "Account");mobilebuttons=0;"></div>
        </div>
    </div>
    <div class="row">
        <form action="/Account/Login" class="form-horizontal" method="post" enctype="multipart/form-data">

            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr/>
                <div class="form-group">
                    <label class="control-label col-md-2">@Resources.Resource.Email</label>
                    <div class="col-md-4">
                        <input id="textinput" name="Email" type="text" value="@Model.Email" placeholder="placeholder" class="form-control input-md">
                        @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">@Resources.Resource.Password</label>
                    <div class="col-md-4">
                        <input id="textinput" name="Password" type="password" value="@Model.Password" placeholder="placeholder" class="form-control input-md">
                        @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value=@Resources.Resource.LogIn class="btn btn-default"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="//ulogin.ru/js/ulogin.js"></script>