@model Model.DTO.CompareGoodsDTO
@{
    ViewBag.Title = "CompareGoods";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Styles.Render("~/Content/IndexStylesheet")
<style>
        .mtb {
        margin: 10px;
        background-color: #fdfdfd;
        border: 1px solid #D8D8D8;
        border-radius: 5px;
        border-width: 1px 1px 3px 1px;
        padding: 10px;
    }

        .good-name
        {
            min-height:105px;
        }

        .col-xs-3
        {
            border-right:1px dotted #DDD;
        }

        .property
        {
            margin-left:25px;
        }

        .property-main{
            float:right;
            margin-right:25px;
        }
</style>

<div class="container">
    <div class="row">
        <h2 class="text-center">Comparing Goods</h2>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div class="row good-name">
                <h2 class="text-center text-muted">
                    <a href="@Url.Action("GetCategoryGood", "Good", new { c_id = Model.Goods[0].Category_Id})">
                        add another good
                    </a>
                </h2>

            </div>
            <div class="row">
                <div class="mtb vcenter" style="min-height:250px;">
                    <div class="" style="margin:0 auto;">
                        <p>
                            <a href="@Url.Action("GetCategoryGood", "Good", new { c_id = Model.Goods[0].Category_Id})">
                                <img src="http://ginoris.lt/images/plusico.png" alt="" class="img-responsive" height="100" />
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <hr />
                    <span class="property"><b>Price: </b></span>
                </div>
                <hr />
                @foreach (var property in Model.Properties)
                {
                    <div class="row">
                        <span class="property text-right"><b>@property</b></span>
                        <hr />
                    </div>
                }
            </div>

        </div>

         @foreach (var good in Model.Goods)
         {
             <div class="col-xs-3 ">
                 <div class="row good-name">
                     <h4 class="text-center text-success">
                         <a href="@Url.Action("ConcreteGood", "Good", new { id = good.Id})">
                             @good.Name
                         </a>
                    </h4>
    
                 </div>
                 <div class="row">
                     <div class="mtb vcenter" style="min-height:250px;">
                         <div class="" style="margin:0 auto;">
                             <p>
                                 <a href="@Url.Action("ConcreteGood", "Good", new { id = good.Id})">
                                     <img src="@good.ImgLink" alt="" class="img-responsive" />
                                 </a>
                             </p>
                         </div>
                     </div>
                 </div>
                 <div class="row">
                     <div class="row">
                         <hr />
                         <span class="property">@good.Price</span>
                     </div>
                     <hr />
                     @foreach (var property in good.PropertyValues.DictStringProperties)
                     {
                         <div class="row">
                             <span class="property">@property.Value</span>
                             <hr />
                         </div>
                     }
                 </div>
             </div>
         }
    </div>
</div>

