@model Model.DTO.CompareGoodsDTO
@{
    ViewBag.Title = "CompareGoods";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Styles.Render("~/Content/ConcreteGoodStylesheet")
@Styles.Render("~/Content/IndexStylesheet")

<div class="container">
    <div class="row">
        <h2 class="text-center">Comparing Goods</h2>
    </div>
    <div class="col-xs-6">
        <div class="row good-name">
            <h4 class="text-center text-success">@Model.FirstGood.Name</h4>

        </div>
        <div class="row">
            <div class="material-design-block vcenter" style="min-height:482px;">
                <div class="" style="margin:0 auto;">
                    <p>
                        <img src="@Model.FirstGood.ImgLink" alt="" class="img-responsive" />
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <hr />
                <span><b>Price:</b></span>
                <span class="text-right text-success" style="float:right; margin-right:30px;">@Model.FirstGood.Price</span>
            </div>
            <hr />
            @foreach (var property in Model.FirstProperties)
            {
                <div class="row">
                    <b>
                        <span class="text-left">@property.Key</span>
                    </b>
                    <span class="text-right" style="float:right; margin-right:30px;">@property.Value</span>
                    <hr />
                </div>
            }
        </div>
        
    </div>

    <div class="col-xs-6">
        <div class="row good-name">
            <h4 class="text-center text-success">@Model.SecondGood.Name</h4>

        </div>
        <div class="row">
            <div class="material-design-block vcenter" style="min-height:482px;">
                <div class="" style="margin:0 auto;">
                    <p>
                        <img src="@Model.SecondGood.ImgLink" alt="" class="img-responsive" />
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <hr />
                <span class="text-left text-success" style="margin-left:28px;">@Model.SecondGood.Price</span>
            </div>
            <hr />
            @foreach (var property in Model.SecondProperties)
            {
                <div class="row">
                    <span class="text-left" style="margin-left:28px;">@property.Value</span>
                    <hr />
                </div>
            }
        </div>

    </div>
    <div class="col-xs-6">

    </div>
</div>

