@model Model.DTO.GoodViewModelDTO
@{
	ViewBag.Title = "Good";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/jquery")
@Styles.Render("~/Content/ConcreteGoodStylesheet")
@Scripts.Render("~/bundles/PriceStat")
@Scripts.Render("~/Scripts/PriceFollowers")

<div class="modal fade" tabindex="-1" role="dialog" id="ModalDelete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Resources.Resource.Attention !</h4>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete this comment?</p>
                <form>
                    <div class="form-group">
                        <input type="hidden" id="CommentToDeleteid" />
                    </div>
                    <a onclick="DeleteCommentAjax();" class="btn btn-danger">@Resources.Resource.Remove</a>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="" style="color:#555; text-align:center; padding-bottom:25px; border-bottom:1px dashed #CCC; letter-spacing: -1px;">
				<h3 class="text-success">@Model.Good.Name</h3>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="material-design-block vcenter" style="min-height:482px;">
				<div class="" style="margin:0 auto;">
					<p>
						<img src="@Model.Good.ImgLink" alt="" class="img-responsive" />
					</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="material-design-block pre-scrollable" style="max-height:483px;">
				<h4><span class="glyphicon glyphicon-book"></span>[Description]</h4>
				<p>
					Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
				</p>
			</div>
			<div class="material-design-block" style="max-height:483px;">
				<h4 class="text-success">
					<span class="glyphicon glyphicon-usd"></span>  Price: <b id="current-price"> @Model.Good.Price </b>
					@if (Model.Good.OldPrice != null)
					{
						<del><b class="text-danger">@Model.Good.OldPrice</b></del>
					}
				</h4>

				<input type="hidden"  id="goodUrl" value="@Model.Good.UrlLink"/>
                <input type="hidden" id="goodId" value="@Model.Good.Id" />


				@Html.Partial("~/Views/Good/FollowButtonPartial.cshtml", Model)                
				
                <h4 class="text-muted"> Shop: @Model.Good.WebShop.Name</h4>
				<img src="@Model.Good.WebShop.LogoPath" alt="ShopLogo" class="img-responsive img-thumbnail" />
				<br />
				<br />
				<a href="@Model.Good.UrlLink" class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart"></span> Go To Shop</a>
			</div>
		</div>
	</div>

	<div class="row tab-view-marketing">
		<ul class="nav nav-tabs nav-justified">
			<li class="active"><a data-toggle="tab" href="#properties"><span class="glyphicon glyphicon-cog"></span> Properties</a></li>
			<li><a data-toggle="tab" href="#similaroffers"><span class="glyphicon glyphicon-list-alt"></span> Offers</a></li>
			<li><a data-toggle="tab" href="#charts" onclick="" id="chart_d"><span class="glyphicon glyphicon-stats"></span> Charts</a></li>
			<li><a data-toggle="tab" href="#menu3"><span class="glyphicon glyphicon-comment"></span> Comments</a></li>
		</ul>
	</div>
</div>

<div class="tab-content tab-view-marketing">
	<div id="properties" class="tab-pane fade in active">
		<div class="row material-design-block">
			<div class="">
				<div class="col-xs-12 table-responsive pre-scrollable">
					<h4><span class="glyphicon glyphicon-cog"></span>[Characterisctics]</h4>
					<table class="table table-striped table-hover">
						<tbody>
							@{
								foreach (var nameCh in Model.Properties)
								{
									<tr>
										<td style="width:50%;">
											<b>
												@nameCh.Key
											</b>
										</td>
										<td>
											@nameCh.Value
										</td>
									</tr>
								}
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div id="charts" class="tab-pane fade">
		<h3 class="text-success">Chart for price changes</h3>
		<div class="row">
			<div class="col-xs-12 col-md-6"><canvas id="priceStat" width="300" height="300"></canvas></div>
			<div class="col-xs-0 col-md-6"></div>
		</div>
	</div>
	<div id="similaroffers" class="tab-pane fade">
		<div class="">
			<div>
				<h4 class="text-muted">Also, you may be interested in ...</h4>

				@foreach (var good in Model.SimilarOffers)
				{
					<div class="row material-design-block">
						<div class="media">
							<div class="media-left">
								<a class="pull-left">
									<img class="media-object" src="@good.ImgLink" alt="" style="">
								</a>
							</div>

							<div class="media-body">
								<div class="col-xs-4">
									<h4 class="text-success text-center"><a href="@Url.Action("ConcreteGood","Good",new {id = good.Id})">@good.Name</a></h4>
									@foreach (var item in good.PropertyValues.DictStringProperties)
									{
										<small class="text-muted">
											@item.Value
										</small>
									}
								</div>
								<div class="col-xs-2">
									<b class="text-success">Shop:</b>
									<br />
									@*<b class="text-muted">@good.WebShop.Name</b>*@
								</div>
								<div class="col-xs-2">
									<b class="text-success">Category:</b>
									<br />
									@*<b class="text-muted">@good.Category.Name</b>*@
								</div>
								@if (@good.OldPrice == null)
								{
									<div class="col-xs-2">
										<b class="text-success">Price:</b>
										<br />
										<b class="text-muted">@good.Price</b>
									</div>
								}
								else
								{
									<div class="col-xs-2">
										<b class="text-success">Price:</b>
										<br />
										<b class="text-muted"><del><small>@good.OldPrice</small></del></b>
										<br />
										<b class="text-danger">@good.Price</b>
									</div>
								}
								<div class="col-xs-2">
									<a class="btn btn-success" href="@good.UrlLink">To Shop</a>
								</div>
							</div>
						</div>
					</div>
				}
			</div>


		</div>
	</div>
	<div id="menu3" class="tab-pane fade">
		<br />
		<br />
		<div class="row">
			<div class="col-xs-0 col-md-3">

			</div>
			<div class="col-xs-12 col-md-6" id="comments_list">
                <div id="add-comment">
                    <form class="form-horizontal" id="commentForm" role="form">
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Comment</label>
                            <div class="col-sm-10">
                                <textarea class="form-control textcomment" name="addComment" id="addCommentArea" rows="5" style="max-width:1250px;" required maxlength="255"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-xs-offset-2">
                                <a class="btn btn-success btn-submit" id="submitComment" onclick="InsertComment();"><span class="glyphicon glyphicon-send"></span> Submit</a>
                            </div>
                        </div>
                    </form>
                </div>

                @foreach (var comment in Model.Comments)
                {
                    <div class="comment">
                        <div class="col-sm-2">
                            <div class="thumbnail">
                                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                            </div><!-- /thumbnail -->
                        </div><!-- /col-sm-1 -->
                        <div class="col-sm-10">
                            <div class="panel panel-default">
                                <div class="panel-heading" comment-id="@comment.Id">
                                    <strong>@comment.User.UserName </strong> <span class="text-muted"> commented <time class="timeago" datetime="@comment.Date">-</time></span>
                                    @if(@comment.CheckComment){
                                     <span class="text-right text-muted">
                                         <span class="glyphicon glyphicon-remove btn-right" onclick="DeleteComment(this);" data-toggle="modal" data-target="#ModalDelete"></span>
                                         <span class="glyphicon glyphicon-pencil btn-right" onclick="UpdateComment(this);"></span>
                                     </span>
                                    }
                                </div>
                                <div class="panel-body">
                                    @comment.Description
                                </div><!-- /panel-body -->
                            </div><!-- /panel panel-default -->
                        </div><!-- /col-sm-5 -->
                    </div>
                }

			</div>
			<div class="col-xs-0 col-md-3">

			</div>

		</div><!-- /row -->
	</div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jquery-timeago")
<script>


    $(document).ready(function () {
        $("time.timeago").timeago();
        $("#charts").addClass("active");
        $(".loader").hide();
        $("#chart_d").on("click", function (event) {
            DrawChart('@Model.Good.UrlLink');
            $(this).off(event);
        });

    });

    function InvokeDrawing() {
        console.log('@Model.Good.UrlLink');
        setTimeout(function () { DrawChart('@Model.Good.UrlLink'); }, 200);
    }


    function SetCompareGood(id, node) {
        $(node).html('<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Compare');

        $.ajax({
            type: 'POST',
            url: "@Url.Action("SetCompareGood","Good")",
            data: { id: id },
            success: function () {
                $(node).html("<span class='glyphicon glyphicon-ok'></span> In Comparing");
                $(node).unbind().click(function () {
                    UnsetCompareGood(id, node);
                });
            }
        });
    }

    function UnsetCompareGood(id, node) {
        $(node).html('<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> In Comparing');

        $.ajax({
            type: 'POST',
            url: "@Url.Action("UnsetCompareGood","Good")",
            data: { id: id },
        success: function () {
            $(node).html("<span class='glyphicon glyphicon-stats'></span> Compare");
            $(node).unbind().click(function () {
                SetCompareGood(id, node);
            });
        }
    });
    }

    function InsertComment()
    {
        var text = $("#addCommentArea").val();
        var good_id = $("#goodId").val();

        if (text == "" || text == null)
            return;

        console.log(text);
        console.log(good_id);

        $("#addCommentArea").val("");
        var newnode = CreateCommentNode('@User.Identity.Name', text, "commented right now");
        $(newnode).insertAfter("#add-comment");
        InsertCommentAjax(text, good_id,newnode);
    }

    function InsertCommentAjax(text, goodId,node)
    {
        $.ajax({
            type: 'POST',
            url: '/Good/AddComment',
            data: { text: text, goodId: goodId },
            success: function (data) {
                console.log(data);
                $(node).children(".col-sm-10").children(".panel").children(".panel-heading").attr("comment-id", data);
            }
        });
    }

    function CreateCommentNode(userName, text, date) {
        return $('<div class="comment"><div class="col-sm-2"><div class="thumbnail"><img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></div> </div><!-- /col-sm-1 --><div class="col-sm-10"><div class="panel panel-default"><div class="panel-heading" comment-id="0"><strong>' + '@User.Identity.Name' + '</strong> <span class="text-muted">' + date + '</span><span class="text-right text-muted"><span class="glyphicon glyphicon-remove btn-right" onclick="DeleteComment(this);" data-toggle="modal" data-target="#ModalDelete"></span><span class="glyphicon glyphicon-pencil btn-right" onclick="UpdateComment(this);"></span></span></div><div class="panel-body">' + text + '</div><!-- /panel-body --></div><!-- /panel panel-default --></div><!-- /col-sm-5 --></div>');
    }

    function UpdateComment(node) {
        $(node).closest(".panel").children(".panel-heading").children(".text-right").children(".glyphicon-pencil").hide();
        var prev_text = $(node).closest(".panel").children(".panel-body").html();

        prev_text = prev_text.trim().toString();

        $(node).closest(".panel").children(".panel-body").html("");

        var textarea = $('<textarea class="form-control textcomment updatetext" id="updateCommentArea" rows="5" style="max-width:1250px;" required maxlength="255">' + prev_text + '</textarea><br />');

        var button = $('<a class="btn btn-success btn-submit btn-xs"><span class="glyphicon glyphicon-send"></span> Update</a>');
        $(button).click(function () {
            UpdateCommentAjax(this);
        });
        var cancel_button = $('<a class="btn btn-success btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Cancel</a>');
        $(cancel_button).click(function () {
            CancelUpdate(this, prev_text);
        });
        $(node).closest(".panel").children(".panel-body").append(textarea);
        $(node).closest(".panel").children(".panel-body").append(button);
        $(node).closest(".panel").children(".panel-body").append(cancel_button);
    }

    function CancelUpdate(node,prev_text) {
        $(node).closest(".panel").children(".panel-heading").children(".text-right").children(".glyphicon-pencil").show();
        $(node).closest(".panel").children(".panel-body").html(prev_text);
    }

    function UpdateCommentAjax(node) {
        $(node).closest(".panel").children(".panel-heading").children(".text-right").children(".glyphicon-pencil").show();
        var new_text = $(node).siblings("textarea").val();

        var commentId = $(node).closest(".panel").children(".panel-heading").attr("comment-id");

        $.ajax({
            type: 'POST',
            url: '/Good/UpdateComment',
            data: { text: new_text, commentId: commentId },
            success: function (data) {
            }
        });

        $(node).closest(".panel").children(".panel-body").html(new_text);
    }

    function DeleteComment(node) {
        var commentId = $(node).closest(".panel").children(".panel-heading").attr("comment-id");
        $("#CommentToDeleteid").val(commentId);
    }

    function DeleteCommentAjax() {
        var commentId = $("#CommentToDeleteid").val();
        console.log(commentId);
        $("#ModalDelete").modal("hide");
         $("div[comment-id='" + commentId + "']").closest(".comment").remove();
        console.log($("div[comment-id=" + commentId + "]"));
        $.ajax({
            type: 'POST',
            url: '/Good/DeleteComment',
            data: { commentId: commentId },
            success: function (data) {

            }
        });
    }
</script>
