@model Model.DTO.GoodViewModelDTO
@{
	ViewBag.Title = "Good";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/PhoneStylesheet")
@Scripts.Render("~/bundles/PriceStat")



<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="" style="color:#555; text-align:center; padding-bottom:25px; border-bottom:1px dashed #CCC;">
				<h2>@Model.Good.Name</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="material-design-block vcenter" style="min-height:482px;">
				<div class="" style="margin:0 auto;">
					<p>
						<img src="@Model.Good.ImgLink" alt="" class="img-responsive" />
					</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="material-design-block pre-scrollable" style="max-height:483px;">
				<h4><span class="glyphicon glyphicon-book"></span>[Description]</h4>
				<p>

				</p>
			</div>
		</div>
	</div>

	<div class="row">
		<ul class="nav nav-tabs nav-justified">
			<li class="active"><a data-toggle="tab" href="#properties">Properties</a></li>
			<li><a data-toggle="tab" href="#similaroffers">Similar Offers</a></li>
			<li><a data-toggle="tab" id="chart_d" href="#charts">Charts</a></li>
			<li><a data-toggle="tab" href="#menu3">Comments</a></li>
		</ul>
	</div>
	</div>

<div class="tab-content">
	<div id="properties" class="tab-pane fade in active">
		<div class="row material-design-block">
			<div class="">
				<div class="col-xs-12 table-responsive pre-scrollable">
					<h4><span class="glyphicon glyphicon-cog"></span>[Characterisctics]</h4>
					<table class="table table-striped table-hover">
						<tbody>
							@{
								foreach (var nameCh in Model.Good.PropertyValues.DictStringProperties)
								{
									<tr>
										<td style="width:50%;">
											<b>
												@nameCh.Key
											</b>
										</td>
										<td>
											@nameCh.Value
										</td>
									</tr>
								}
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div id="charts" class="tab-pane fade">
		<h3>Chart for price changes</h3>
		<p>--Chart--</p>
		<div class="row">
			<div class="col-xs-12 col-md-6"><canvas id="priceStat"></canvas></div>
			<div class="col-xs-0 col-md-6"></div>
		</div>
	</div>
	<div id="similaroffers" class="tab-pane fade">
		<div class="row">
				<div>
					<h4 class="text-muted">Also, you may be interested in ...</h4>

					@foreach (var good in Model.SimilarOffers)
					{
						<div class="row material-design-block">
							<div class="media">
								<div class="media-left">
									<a class="pull-left">
										<img class="media-object" src="@good.ImgLink" alt="" style="">
									</a>
								</div>

								<div class="media-body">
									<div class="col-xs-4">
										<h4 class="text-success text-center"><a href="@Url.Action("ConcreteGood","Good",new {id = good.Id})">@good.Name</a></h4>
										@foreach (var item in good.PropertyValues.DictStringProperties)
										{
											<small class="text-muted">
												@item.Value
											</small>
										}
									</div>
									<div class="col-xs-2">
										<b class="text-success">Shop:</b>
										<br />
										@*<b class="text-muted">@good.WebShop.Name</b>*@
									</div>
									<div class="col-xs-2">
										<b class="text-success">Category:</b>
										<br />
										@*<b class="text-muted">@good.Category.Name</b>*@
									</div>
									@if (@good.OldPrice == null)
									{
										<div class="col-xs-2">
											<b class="text-success">Price:</b>
											<br />
											<b class="text-muted">@good.Price</b>
										</div>
									}
									else
									{
										<div class="col-xs-2">
											<b class="text-success">Price:</b>
											<br />
											<b class="text-muted"><del><small>@good.OldPrice</small></del></b>
											<br />
											<b class="text-danger">@good.Price</b>
										</div>
									}
									<div class="col-xs-2">
										<a class="btn btn-success" href="@good.UrlLink">To Shop</a>
									</div>
								</div>
							</div>
						</div>
					}
				</div>


		</div>
	</div>
	<div id="menu3" class="tab-pane fade">
		<h3>Menu 3</h3>
		<p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
	</div>
</div>

@Scripts.Render("~/bundles/jquery")
<script>
	$("#charts").addClass("active");
	$("#chart_d").on("click", function (event) {
		DrawChart('@Model.Good.UrlLink');
		$(this).off(event);
	});
</script>
